<h1>追う項目と行動</h1>
<h2>
    <%= link_to "項目を決める", new_diary_path %>
    <% @diaries.each do |diary| %>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title">
        <%= link_to diary.target, edit_diary_path(diary) %>
      </h2>
      <h4 class="card-text">
        <%= link_to diary.taking_action, edit_diary_path(diary) %>
        <br>
      </h4>
      <h6 class="card-text">
        <%= diary.created_at %>
      </h6>
      <h6>
        <%= link_to "削除", diary_path(diary), method: :delete %>
      </h6>
    </div>
    </div>
    <% end %>
</h2>
